.jumbotron {
    background-color: black;
    color: white;
    margin-bottom: 10%;
}

#jtron {
    background-color: black;
    color: white;
    padding: 0px 50px 0px 50px;
    text-align: center;
}

#title {
    width: 18 rem;
    height: auto;
}